torch-ema
ninja
opencv-python
tensorboardX
numpy 
pandas
tqdm
matplotlib
rich
scipy
huggingface_hub
diffusers
transformers
xatlas
scikit-learn
imageio
imageio-ffmpeg
accelerate
tensorboard
typed-argument-parser